Django==1.11
coverage==4.5.1
djangorestframework==3.8.2
pytest==3.6.3
pytest-django==3.3.3
mock==2.0.0
factory-boy==2.10.0
pylint==1.9.3
futures==3.2.0 ; python_version < "3.0"

# Oauth2: These 2 packages both are needed
-e git+https://github.com/edx/django-rest-framework-oauth.git@0a43e8525f1e3048efe4bc70c03de308a277197c#egg=djangorestframework-oauth==1.1.1
django-oauth2-provider==0.2.6.1
