# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#

version: 2
workflows:
  version: 2
  test:
    jobs:
      - test-3.6
      - test-2.7
jobs:
  test-3.6:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.8-node

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v2-dependencies-{{ checksum "requirements.txt" }}-npm-deps-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v2-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
            npm install

      - save_cache:
          paths:
            - ./venv
            - ./node_modules
          key: v2-dependencies-{{ checksum "requirements.txt" }}-npm-deps-{{ checksum "package.json" }}

      # run tests!
      # this example uses Django's built-in test-runner
      # other common Python testing frameworks include pytest and nose
      # https://pytest.org
      # https://nose.readthedocs.io
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            make python-quality-test
            make javascript-quality-test
            coverage run --source="." -m pytest ./eox_core
            coverage report --fail-under=60 -m

      - store_artifacts:
          path: test-reports
          destination: test-reports
  # Based on answer https://discuss.circleci.com/t/run-tests-on-multiple-versions-of-python/15462
  test-2.7:
    docker:
      - image: circleci/python:2.7-jessie-node-browsers-legacy
    working_directory: ~/repo27

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v2-27-dependencies-{{ checksum "requirements.txt" }}-npm-deps-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v2-27-dependencies-

      - run:
          name: install dependencies
          command: |
            mkdir -p ./venv
            virtualenv ./venv
            . venv/bin/activate
            pip install -r requirements.txt
            npm install

      - save_cache:
          paths:
            - ./venv
            - ./node_modules
          key: v2-dependencies-{{ checksum "requirements.txt" }}-npm-deps-{{ checksum "package.json" }}

      # run tests!
      # this example uses Django's built-in test-runner
      # other common Python testing frameworks include pytest and nose
      # https://pytest.org
      # https://nose.readthedocs.io
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            make python-quality-test
            make javascript-quality-test
            coverage run --source="." -m pytest ./eox_core
            coverage report --fail-under=60 --rcfile=.coveragerc -m

      - store_artifacts:
          path: test-reports
          destination: test-reports
