/* Styles for CourseSettings React js component */
@import 'edx-bootstrap';

:local(.coursesList) {
    position: relative;
    width: 100% !important;
    height: 200px !important;
    max-height: 200px !important;
}
