/* Styles for LoadingIcon React js component */

:local(.courseManagementSpinnerContainer) {
    position: absolute;
    display: block;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 1px;
}

:local(.courseManagementSpinner) {
    -webkit-animation: spinner-loading-rotate 2s infinite linear; /* Safari 4+ */
    -moz-animation:    spinner-loading-rotate 2s infinite linear; /* Fx 5+ */
    -o-animation:      spinner-loading-rotate 2s infinite linear; /* Opera 12+ */
    animation:         spinner-loading-rotate 2s infinite linear; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes spinner-loading-rotate {
    0%   {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@-moz-keyframes spinner-loading-rotate {
    0%   {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@-o-keyframes spinner-loading-rotate {
    0%   {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes spinner-loading-rotate {
    0%   {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
