<%inherit file="base.html" />
<%namespace name='static' file='static_content.html'/>
<%!
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%block name="title">${"Course management"}</%block>
<%block name="header_extras">

</%block>

<%block name="content">
    <link type='text/css' rel='stylesheet' href='${STATIC_URL}css/vendor/bootstrap.min.css'>
    <div class="container" style="font-size: 2em;">
        <h1>Course Management</h1>
        <div id="root"></div>
        <script src="${static.url('js/build.js')}"></script>
        <script>
            new RenderReactComponent({
                teamManagement: {
                    list_org: ${list_org | n, dump_js_escaped_json}
                },
                courseSettings: {
                    settings_fileds: ${settings_fileds | n, dump_js_escaped_json},
                    details_fields: ${details_fields | n, dump_js_escaped_json}
                }
            });
        </script>
    </div>
</%block>
