# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.
#
# When pinning something here, please provide an explanation of why.  Ideally,
# link to other information that will help people in the future to remove the
# pin when possible.  Writing an issue against the offending project and
# linking to it here is good.

# Already in python3 standard library
futures; python_version == "2.7"

# TODO: Add constraint explanation
pylint==2.12.2
pycodestyle==2.8.0

# Keep same platform version
django<=3.2.12
celery==4.4.7
djangorestframework==3.13.1
django-filter==21.1
django-model-utils==4.2.0
django-oauth-toolkit==1.3.2
django-waffle==2.2.1
edx-drf-extensions==8.0.0
edx-opaque-keys==2.3.0
edx-proctoring==4.7.1
factory-boy==3.2.0
jsonfield==3.1.0
django-countries==7.2.1
edx-django-utils==4.4.0
edx-when==2.2.2
newrelic==7.2.1.168
